.mapboxgl-control-container {
  display: none;
}

.mapboxgl-canvas {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 700px;
}

.popup {
  width: 100%;
  min-width: 600px;
  height: calc(100vh - 80px);
}

.mapboxgl-popup-close-button {
  padding-right: 5px;
  font-size: large;
}
